
/Week-1_VertexFragment/Library
/Week-1_VertexFragment/Logs
/Week-1_VertexFragment/Temp
/Week-1_VertexFragment/UserSettings
Week-1_VertexFragment/Week-1_VertexFragment.sln
/Week-1_VertexFragment/.vs
Week-1_VertexFragment/Assembly-CSharp.csproj
/Week-1_VertexFragment/obj
*.csproj
/LectureProjectAnimationShaders/LectureProjectAnimationShaders/Library
/LectureProjectAnimationShaders/LectureProjectAnimationShaders/Temp
/LectureProjectAnimationShaders/LectureProjectAnimationShaders/.vs
/LectureProjectAnimationShaders/LectureProjectAnimationShaders/Logs
/LectureProjectAnimationShaders/LectureProjectAnimationShaders/obj
/LectureProjectAnimationShaders/LectureProjectAnimationShaders/UserSettings
/Week 7 Depth/Temp
/Week 7 Depth/Library
/Week 7 Depth/Logs
/Week 7 Depth/UserSettings
/GeoAndTessoWeek10/Library
/GeoAndTessoWeek10/Logs
/GeoAndTessoWeek10/UserSettings
/GeoAndTessoWeek10/Temp
/GeoAndTessoWeek10/.vs
/ShadowsWeek8/Temp
/ShadowsWeek8/Library
/ShadowsWeek8/UserSettings
/ShadowsWeek8/.idea
/ShadowsWeek8/Logs
/ShadowsWeek8/Logs
/ShadowsWeek8/obj
