
/Week-1_VertexFragment/Library
/Week-1_VertexFragment/Logs
/Week-1_VertexFragment/Temp
/Week-1_VertexFragment/UserSettings
Week-1_VertexFragment/Week-1_VertexFragment.sln
/Week-1_VertexFragment/.vs
Week-1_VertexFragment/Assembly-CSharp.csproj
/Week-1_VertexFragment/obj
