
/Week-1_VertexFragment/Library
/Week-1_VertexFragment/Logs
/Week-1_VertexFragment/Temp
/Week-1_VertexFragment/UserSettings
Week-1_VertexFragment/Week-1_VertexFragment.sln
/Week-1_VertexFragment/.vs
Week-1_VertexFragment/Assembly-CSharp.csproj
/Week-1_VertexFragment/obj
*.csproj
/LectureProjectAnimationShaders/LectureProjectAnimationShaders/Library
/LectureProjectAnimationShaders/LectureProjectAnimationShaders/Temp
/LectureProjectAnimationShaders/LectureProjectAnimationShaders/.vs
/LectureProjectAnimationShaders/LectureProjectAnimationShaders/Logs
/LectureProjectAnimationShaders/LectureProjectAnimationShaders/obj
/LectureProjectAnimationShaders/LectureProjectAnimationShaders/UserSettings
/Week 7 Depth/Temp
/Week 7 Depth/Library
/Week 7 Depth/Logs
/Week 7 Depth/UserSettings
